<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# 1 There is more to if

In [1]:
name = 'Batman'         

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Batman!

In [2]:
name = 'Robin'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello Sidekick!

In [3]:
name = 'blacksuit'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

Hello World!

# 2 Asking questions

In [4]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [5]:
'apple' in fruits

True

In [6]:
'peach' in fruits

False

In [11]:
'peach' not in fruits

True

In [7]:
('apple' in fruits) and ('celery' in vegetables)     # Ask if two conditions are both satisfied

True

In [9]:
('apple' in fruits) or ('celery' in vegetables)       # Ask if any one of two conditions are satisfied

True

In [10]:
'app' in 'apple'

True

In [12]:
'apples' > 'oranges'    # In Python, the letters are represented as numbers.

False

## 2.1 Remember

`not`, `in`, `and`, `or` are some Python keywords that are useful in asking questions.

## 2.2 Asking Math questions

|   Question/Condition   | Math Symbol | Python Symbol |
|:----------------------:|:-----------:|:-------------:|
|         Equals?        |      =      |      `==`     |
|       Not equal?       |    $\ne$    |      `!=`     |
|       Less than?       |      <      |      `<`      |
|      Greater than?     |      >      |      `>`      |
|  Less than or equalï¼Ÿ  |    $\leq$   |      `<=`     |
| Greater than or equal? |    $\geq$   |      `>=`     |`     |`     |      |

In [16]:
x = 7

In [17]:
x > 5 and x < 10

True

In [18]:
(x > 5) and ( x < 10 )

True

In [19]:
5 < x < 10

True

# 3 Python stores information in different formats or types

Computers store information in different ways. There are four ways we can store number `1.234`

### 3.1 Example 1

In [23]:
x = int(1.234)
print(x, type(x))      #Store as an integer

1 <class 'int'>

### 3.2 Example 2

In [21]:
x = str(1.234)
print(x, type(x))     #store as a string

1.234 <class 'str'>

### 3.3 Example 3

In [22]:
x = float(1.234)
print(x, type(x))     #store as a float

1.234 <class 'float'>

### 3.4 Example 4

In [25]:
x = complex(1.234)
print(x, type(x))     # store as a complex number

(1.234+0j) <class 'complex'>

In [26]:
x = '1.234'    #x is a string
print(x,type(x))

1.234 <class 'str'>

In [28]:
x = float(x)   #convert x into float. This process is called typecasting.
print(x,type(x))

1.234 <class 'float'>

# 4 Never compare floats directly

## 4.1 The Problem

In [30]:
a = 0.1
a3 = 0.3
a * 3 == a3   #in common sense, it should be true, but in Python it will cause problem.

False

In [33]:
f'{0.3:.17f}'     #Python store 0.3 as 0.2999999999999. cause problem

'0.29999999999999999'

## 4.2 A solution

In [35]:
a*3 - a3  #normally it should be 0, but in Python , here is a very small number

5.551115123125783e-17

In [37]:
(a*3 - a3) < 1E-10    #instead of checking whether thay are equal, we can check whether they are close

True

In [18]:
import numpy as np

In [40]:
np.isclose(a*3,a3)    #Numpy has a function to check whether they are close

True

# 5 Combining English and variables

## 5.1 Structure of f-strings

### Example 1

In [6]:
name = "Batman"
print("Hello {name}!")

Hello {name}!

### Example 2

In [7]:
name = "Batman"
print(f"Hello {name}!")      # print the Hello with the variable name.
                            # f is used to ignore the {}.

Hello Batman!

### Example 3

In [8]:
name = "Batman"
print(f"Hello {name.upper()}!")     # .upper() function used to Capitalisinh all the letter in name

Hello BATMAN!

### Example 4

In [11]:
x = 8
print(f"The value of {x} squared is {x**2}!")

The value of 8 squared is 64!

### 5.1.1 Remember

`f` and the `{}` in the above command is called **f-string** (**string interpolation**)

### Example 1

In [13]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [ ]:
print(f'{text:>30}')      # A block of 30 characters;
                          # aligned right

In [15]:
print(f'{text:^30}')      # A block of 30 characters;
                          # aligned centre

    Bruce Wayne is Batman.

In [16]:
print(f'{text:<30}')      # A block of 30 characters;
                          # aligned left

Bruce Wayne is Batman.

### Example 2

In [19]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [26]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:05.60f}')

The cube of pi to 6 decimal places is 31.006276680299816206343166413716971874237060546875000000000000

In [49]:
print(f'{22/7**3:50.3f}')

                                             0.064

In [45]:
print(f'{22/7**3:05.30f}')

0.064139941690962098963524340434

In [44]:
print(f'{22/7**3:50.30f}')

                  0.064139941690962098963524340434

In [48]:
print(f'{22/7**3:050.30f}')

0000000000000000000.064139941690962098963524340434

In [4]:
print(f'{22/7**3:50.3g}')

                                            0.0641

### Example 3

In [22]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

| Letter |             Action             |                                        Possible Option                                       |
|:------:|:------------------------------:|:--------------------------------------------------------------------------------------------:|
|   `X`  |       Variable to format       |                                   Can be a number or string                                  |
|   `>`  |            Alignment           |  <li>`<`(Left justified)</li> <li> `>`(Right justified)</li> <li> `^`(Centre justified)</li> |
|   `0`  |    Use 0's to pad the spaces   |                                     ` ` space is also Ok                                     |
|   `Y`  |   Total number of characters   |                                                                                              |
|   `Z`  |    Number of decimal places    |                                                                                              |
|   `W`  | Specifies the type of variable |        <li> `f`(float)</li> <li> `d`(integer)</li> <li> `s`(string)</li> <li> `g`</li>       |      |      |      |      |      |      |

Extra contents: We can use `<li>` and `</li>` to create bullet points in table

In [ ]:
# Sorry, sir, for the "g" specifier, I can't really understand how we could use it.

# 6 Escape sequences

In [36]:
print('Line 1\n\tLine 2\n\t\tLine 3')      #\n means start with new line, \t means start with a tab

Line 1
	Line 2
		Line 3

### Example 1

In [37]:
print('You\'re twenty years old.')    #\' use to ignore '

You're twenty years old.

### Example 2

In [38]:
print('A\\B\\C')      #\\ use to ignore one of \

A\B\C

### Example 3

In [40]:
print('A\nB\nC')

A
B
C

### Example 4

In [41]:
print('A\tB\tC')

A	B	C

# 7 Computers read = from Right to Left!

In [43]:
x = 40
y = x + 2

In [54]:
y = 40
y = y + 2     #From right to left, first + 2 to the y, then set this value to the y
print(y)

42

In [47]:
x = y = 10

# 8 Shorter and Cleaner Code

In [52]:
y = 40
y = y + 2
y

42

In [53]:
y = 40
y += 2    # Same as y = y + 2
y

42

|                | **Long form** | **short form** |
|----------------|---------------|----------------|
| Addition       |   `y = y+2`   |    `y += 2`    |
| Subtraction    |   `y = y-2`   |    `y -= 2`    |
| Multiplication |   `y = y*2`   |    `y *= 2`    |
| Division       |   `y = y/2`   |    `y /= 2`    |

# 9 Python can be a prima-donna.

In [55]:
print(

SyntaxError: incomplete input (149104261.py, line 1)

- Don't be afraid of errors in code and programs. The error allows us to have a chance to fix it and debug the code. More debugging means a deeper understanding of the knowledge.

# 10 Best Practices for Scientific Computing

- **Write programs for people, not computers.**
- **Optimise software only after it works correctly.**
- **Document design and purpose, not mechanics.**
- **Collaborate.**

**Tips**: Always start simple and get something working first before making it perfect.

# 12 Looking for help

In [57]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

- Would be better if just ask Chatgp, friends or tutors.

## References

## Footnotes